.top_menu {
    margin: 1%;
    width: 100vw;
}
.top_menu button{
    margin-right: 1%
}
.right_menu{
    margin-right: 0px;
    margin-left: auto;
}
#button_right{
    float: right;
    margin-right: 2%;
}